// Loading Screen Styles
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; //
  
    .spinner {
      width: 70px;
      height: 70px;
      border: 6px solid rgba(0, 0, 0, 0.1);
      border-top: 6px solid #f6bc25; 
      border-radius: 50%;
      animation: spin 1s linear infinite; 
      margin-bottom: 15px;
    }
  
    .loading-text {
      font-family: 'Lato', sans-serif; 
      font-size: 18px;
      color: #333;
    }
  }
  
  // Spinner animation
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  