.btn-form-submit {
  font-size: 24px;
  font-weight: bold;
  color: #004A80;
  background-image: linear-gradient(225deg, #F2DA56 0%, #f6bc25 100%);
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  border-radius: 6px;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  width: 180px;
  margin-left: 30px;


  @media (max-width: 767px) {
    width: 100%;
    margin: 12px 0 0 0;

  }

  &:hover,
  &:focus,
  &:active {
    background-image: none;
    background-color: #F2DA56;
    color: #004A80; 
    font-weight: bold; 
     box-shadow: 0 4px 8px rgb(0, 73, 147); 
  }
}
/* I add this part of the code to have more margin in the btn*/
.input-group { 
  input {
    margin-right: 10px; 
  }
}
.input-group {
  > .form-control {
    height: 70px;
    background: #FFF;
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 3px !important;
    font-size: 22px;

    &::placeholder {
      color: #9B9B9B;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    @media (max-width: 767px) {
      width: 100%;
      height: 50px;
    }
  }

  &.error > .form-control {
    border: 3px solid #DC0015;
    border-radius: 3px 3px 0 0 !important;
  }
}

.form-subtext {
  font-size: 16px;
  color: #FFF;
  margin: 0 0 0 15px;
  line-height: normal;
}

.error-msg {
  display: none;
}

.input-group.error .error-msg {
  display: block;
  position: absolute;
  bottom: -30px;
  margin: 0px;
  padding: 4px 12px;
  background: #DC0015;
  color: #FFF;
  border-radius: 0 0 3px 3px;
  font-size: 16px;
}
@media (max-width: 425px){
  .input-group.error .error-msg {
    bottom: 57px;
    width: 96%;
  }
  .search-title{
    display: none;
  }
  .btn-form-submit{
    margin: 34px 0 0 0;
  }
}

.search-container {
  margin: 20px 0;
}
.search-title{
  color: white;
  font-size: 16px;
  font-weight: 100;
  margin-right: 10px;
}

.search-type-wrapper {
  display: flex;
}

.search-type {
  position: relative; 
  padding: 2px;
  margin-right: 10px;
  border-radius: 5px;
  color: #004A80;
  transition: background-color 0.3s; 
  
  // Hover state
  &:hover {
    background-color: #f6bc25; 
    color: #004A80;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px; 
      left: 50%; 
      transform: translateX(-50%); 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #f6bc25; 
    }
  }

  // Active state for when clicked
  &.active {
    background-color: #f6bc25; 
    color: #004A80;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px; 
      left: 50%; 
      transform: translateX(-50%); 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #f6bc25; 
    }
  }
}



.email-type,
.phone-type {
  border: 2px solid #f6bc25;
  color: #f6bc25;
  font-size: small;
}

